POSTGRES_DB=quizbattle
POSTGRES_USER=quizbattle
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

# Optional: Aktivieren Sie die Ausgabe der SQL-Befehle, die von SQLAlchemy generiert werden
ECHO_DATABASE=False

SESSION_EXP_MINUTES=2160
COOKIE_SECURE=false
COOKIE_SAMESITE=strict
COOKIE_DOMAIN=localhost
SESSION_COOKIE_NAME=quizbattle_session

# Testing: erlaubt denselben User mehrfach in der Queue (nur für lokales Testing)
ALLOW_DUPLICATE_QUEUE=true